<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="R3MUS.Devpack.Jabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <R3MUS.Devpack.Jabber.Properties.Settings>
            <setting name="BroadcastName" serializeAs="String">
                <value>Marvin the Paranoid Fleetbot</value>
            </setting>
            <setting name="SharedWebhooks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="SlackWebhook" serializeAs="String">
                <value />
            </setting>
            <setting name="Room" serializeAs="String">
                <value></value>
            </setting>
            <setting name="CorpGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="AllianceGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ListenTo" serializeAs="String">
                <value />
            </setting>
            <setting name="BroadcastShortName" serializeAs="String">
                <value />
            </setting>
            <setting name="CensoredWords" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>gay</string>
                        <string>fag</string>
                        <string>rape</string>
                        <string>fuck</string>
                        <string>wanker</string>
                        <string>twat</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
        </R3MUS.Devpack.Jabber.Properties.Settings>
    </applicationSettings>
</configuration>
